.Cockpit {
    text-align: center;
  }
  
  .AppLogo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: App-logo-spin infinite 0.5s linear;
    }
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    background-color: 'green';
    color: 'white';
    font: 'inherit';
    border: '1px solid blue';
    padding: '16px';
    cursor: 'pointer';
  }
  
  .Cockpit button:hover {
    background-color: lightgreen;
    color: black;
  }
  .Cockpit button.red {
    background-color: red;
    color:white;
  }
  
  .Cockpit button.red:hover {
    background-color: salmon;
    color: black;
  }